# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
# Uncomment the line below if you choose to vendor your dependencies
# vendor/

# Go workspaces
go.work
go.work.sum


# env files (safeguard credentials)
.env






*.txt